<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{% block title %}{% endblock %} | Visualized Politics US 2020 Model</title>
		<meta property="og:title" content="Visualized Politics US 2020 Election Model"/>
		
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-104057534-4"></script>
		<script>
				window.dataLayer = window.dataLayer || [];
				function gtag(){dataLayer.push(arguments);}
				gtag('js', new Date());

				gtag('config', 'UA-104057534-4');
		</script>

		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
		<script src="https://d3js.org/d3.v5.min.js"></script>
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
	</head>
	<body>
		<div class="ui fixed inverted menu" style="margin-right: 1.5em;">
			<div class="ui container">
				<a class="header item" href="/usa-2020/">Visualized Politics US 2020 Model</a>
				<a class="item" href="/usa-2020/presidential/">Presidential</a>
				<!--<a class="item" href="/">Senate</a>
				<a class="item" href="/">House</a>
				<a class="item" href="/">Methodology</a>-->
			</div>
		</div>
		<div class="ui main text container" style="margin-top: 7em; margin-bottom: 3em;">
			{% block content %}
			{% endblock %}
		</div>
</html>
