{% extends "frlsim/usa-2020/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
	<div class="ui grid">
		<div class="eight wide column">
			<p>The <b>Visualized Politics US 2020 Model</b> combines an average of polls and historical results to project the results in every state if the election was held today.</p>
			<p>Currently, only the Presidential Model is publicly available but models for the Senate and House will be released in due course.</p>
		</div>
		<div class="eight wide column">
			<div class="ui two column grid">
				<div class="column">
					<h1>Models</h1>
					<ul class="ui list">
								<li><a href="/usa-2020/presidential/">Presidential</a></li>
								<!--<li><a href="/senate/">Senate</a></li>
								<li><a href="/house/">House</a></li>-->
					</ul>
				</div>
				<!--<div class="column">
					<h1>Data</h1>
					<ul class="ui list">
								<li><a href="/polls/">List of included polls</a></li>
								<li><a href="/methodology/">Methodology</a></li>
					</ul>
				</div>-->
			</div>
		</div>
	</div>
{% endblock %}
