{% extends "frlsim/usa-2020/base.html" %}

{% block title %}Presidential Model{% endblock %}

{% block content %}
	<h1>Presidential Model</h1>

  <div class="flourish-embed flourish-chart" data-src="visualisation/3544424"><script src="https://public.flourish.studio/resources/embed.js"></script></div>

    <div class="flourish-embed flourish-map" data-src="visualisation/3158341" data-url="https://flo.uri.sh/visualisation/3158341/embed"><script src="https://public.flourish.studio/resources/embed.js"></script></div>

    <h2>How have the polls changed over time?</h2>

<canvas id="voteChart"></canvas>

    <h2>What about the chance of winning if the election was held today?</h2>

<canvas id="chanceChart"></canvas>

    <h2>And the electoral votes?</h2>

<canvas id="evChart"></canvas>

<h1>States</h1>
<ul class="ui list">
			<li><a href="/usa-2020/presidential/Alabama/">Alabama</a></li>
<li><a href="/usa-2020/presidential/Alaska/">Alaska</a></li>
<li><a href="/usa-2020/presidential/Arizona/">Arizona</a></li>
<li><a href="/usa-2020/presidential/Arkansas/">Arkansas</a></li>
<li><a href="/usa-2020/presidential/California/">California</a></li>
<li><a href="/usa-2020/presidential/Colorado/">Colorado</a></li>
<li><a href="/usa-2020/presidential/Connecticut/">Connecticut</a></li>
<li><a href="/usa-2020/presidential/DC/">DC</a></li>
<li><a href="/usa-2020/presidential/Delaware/">Delaware</a></li>
<li><a href="/usa-2020/presidential/Florida/">Florida</a></li>
<li><a href="/usa-2020/presidential/Georgia/">Georgia</a></li>
<li><a href="/usa-2020/presidential/Hawaii/">Hawaii</a></li>
<li><a href="/usa-2020/presidential/Idaho/">Idaho</a></li>
<li><a href="/usa-2020/presidential/Illinois/">Illinois</a></li>
<li><a href="/usa-2020/presidential/Indiana/">Indiana</a></li>
<li><a href="/usa-2020/presidential/Iowa/">Iowa</a></li>
<li><a href="/usa-2020/presidential/Kansas/">Kansas</a></li>
<li><a href="/usa-2020/presidential/Kentucky/">Kentucky</a></li>
<li><a href="/usa-2020/presidential/Louisiana/">Louisiana</a></li>
<li><a href="/usa-2020/presidential/Maine/">Maine</a></li>
<li><a href="/usa-2020/presidential/Maine-1/">Maine-1</a></li>
<li><a href="/usa-2020/presidential/Maine-2/">Maine-2</a></li>
<li><a href="/usa-2020/presidential/Maryland/">Maryland</a></li>
<li><a href="/usa-2020/presidential/Massachusetts/">Massachusetts</a></li>
<li><a href="/usa-2020/presidential/Michigan/">Michigan</a></li>
<li><a href="/usa-2020/presidential/Minnesota/">Minnesota</a></li>
<li><a href="/usa-2020/presidential/Mississippi/">Mississippi</a></li>
<li><a href="/usa-2020/presidential/Missouri/">Missouri</a></li>
<li><a href="/usa-2020/presidential/Montana/">Montana</a></li>
<li><a href="/usa-2020/presidential/Nebraska/">Nebraska</a></li>
<li><a href="/usa-2020/presidential/Nebraska-1/">Nebraska-1</a></li>
<li><a href="/usa-2020/presidential/Nebraska-2/">Nebraska-2</a></li>
<li><a href="/usa-2020/presidential/Nebraska-3/">Nebraska-3</a></li>
<li><a href="/usa-2020/presidential/Nevada/">Nevada</a></li>
<li><a href="/usa-2020/presidential/New_Hampshire/">New Hampshire</a></li>
<li><a href="/usa-2020/presidential/New_Jersey/">New Jersey</a></li>
<li><a href="/usa-2020/presidential/New_Mexico/">New Mexico</a></li>
<li><a href="/usa-2020/presidential/New_York/">New York</a></li>
<li><a href="/usa-2020/presidential/North_Carolina/">North Carolina</a></li>
<li><a href="/usa-2020/presidential/North_Dakota/">North Dakota</a></li>
<li><a href="/usa-2020/presidential/Ohio/">Ohio</a></li>
<li><a href="/usa-2020/presidential/Oklahoma/">Oklahoma</a></li>
<li><a href="/usa-2020/presidential/Oregon/">Oregon</a></li>
<li><a href="/usa-2020/presidential/Pennsylvania/">Pennsylvania</a></li>
<li><a href="/usa-2020/presidential/Rhode_Island/">Rhode Island</a></li>
<li><a href="/usa-2020/presidential/South_Carolina/">South Carolina</a></li>
<li><a href="/usa-2020/presidential/South_Dakota/">South Dakota</a></li>
<li><a href="/usa-2020/presidential/Tennessee/">Tennessee</a></li>
<li><a href="/usa-2020/presidential/Texas/">Texas</a></li>
<li><a href="/usa-2020/presidential/Utah/">Utah</a></li>
<li><a href="/usa-2020/presidential/Vermont/">Vermont</a></li>
<li><a href="/usa-2020/presidential/Virginia/">Virginia</a></li>
<li><a href="/usa-2020/presidential/Washington/">Washington</a></li>
<li><a href="/usa-2020/presidential/West_Virginia/">West Virginia</a></li>
<li><a href="/usa-2020/presidential/Wisconsin/">Wisconsin</a></li>
<li><a href="/usa-2020/presidential/Wyoming/">Wyoming</a></li>
</ul>


<script>
function makeVoteChart(dataSpreadsheet) {

  var filteredData = dataSpreadsheet.filter(function(d){ return d.State == 'National' });

  var dates = filteredData.map(function(d) {
    return d.Date;
  });
  var trumpData = filteredData.map(function(d) {
    return d.Trump;
  });
  var bidenData = filteredData.map(function(d) {
    return d.Biden;
  });

  var chart = new Chart('voteChart', {
    type: "line",
    options: {
      maintainAspectRatio: true,
      legend: {
        display: true
      },
      tooltips: {
        mode: 'index'
      }
    },
    data: {
      labels: dates,
      datasets: [
        {
          data: bidenData,
          label: "Biden",
          fill: false,
          lineTension: 0.1,
          borderColor: "blue", // The main line color
          borderCapStyle: 'square',
          borderDash: [], // try [5, 15] for instance
          borderDashOffset: 0.0,
          borderJoinStyle: 'miter',
          pointHoverRadius: 8,
          pointHoverBackgroundColor: "blue",
          pointHoverBorderColor: "blue",
          pointHoverBorderWidth: 2,
          pointRadius: 0
        },
        {
          data: trumpData,
          label: "Trump",
          fill: false,
          lineTension: 0.1,
          borderColor: "red", // The main line color
          borderCapStyle: 'square',
          borderDash: [], // try [5, 15] for instance
          borderDashOffset: 0.0,
          borderJoinStyle: 'miter',
          pointHoverRadius: 8,
          pointHoverBackgroundColor: "red",
          pointHoverBorderColor: "red",
          pointHoverBorderWidth: 2,
          pointRadius: 0
        }
      ]
    }
  });
}

// Request data using D3
d3
  .csv("https://visualizedpoli.gitlab.io/us-model/history.csv")
  .then(makeVoteChart);

  function makeChanceChart(data) {

  var dates = data.map(function(d) {
    return d.Date;
  });
  var trumpData = data.map(function(d) {
    return d.Trump;
  });
  var bidenData = data.map(function(d) {
    return d.Biden;
  });

  var chart = new Chart('chanceChart', {
    type: "line",
    options: {
      maintainAspectRatio: true,
      legend: {
        display: true
      },
      tooltips: {
        mode: 'index'
      },
      axisY: {
      suffix: " %",  
      }
    },
    data: {
      labels: dates,
      datasets: [
        {
          data: bidenData,
          label: "Biden",
          fill: false,
          lineTension: 0.1,
          borderColor: "blue", // The main line color
          borderCapStyle: 'square',
          borderDash: [], // try [5, 15] for instance
          borderDashOffset: 0.0,
          borderJoinStyle: 'miter',
          pointHoverRadius: 8,
          pointHoverBackgroundColor: "blue",
          pointHoverBorderColor: "blue",
          pointHoverBorderWidth: 2,
          pointRadius: 0
        },
        {
          data: trumpData,
          label: "Trump",
          fill: false,
          lineTension: 0.1,
          borderColor: "red", // The main line color
          borderCapStyle: 'square',
          borderDash: [], // try [5, 15] for instance
          borderDashOffset: 0.0,
          borderJoinStyle: 'miter',
          pointHoverRadius: 8,
          pointHoverBackgroundColor: "red",
          pointHoverBorderColor: "red",
          pointHoverBorderWidth: 2,
          pointRadius: 0
        }
      ]
    }
  });
}

// Request data using D3
d3
  .csv("https://visualizedpoli.gitlab.io/us-model/simulationHistory.csv")
  .then(makeChanceChart);

    function makeEvChart(dataSpreadsheet) {

  var filteredData = dataSpreadsheet.filter(function(d){ return d.State == 'Electoral Votes' });

  var dates = filteredData.map(function(d) {
    return d.Date;
  });
  var trumpData = filteredData.map(function(d) {
    return d.Trump;
  });
  var bidenData = filteredData.map(function(d) {
    return d.Biden;
  });

  var chart = new Chart('evChart', {
    type: "line",
    options: {
      maintainAspectRatio: true,
      legend: {
        display: true
      },
      tooltips: {
        mode: 'index'
      },
      axisY: {
      suffix: " %",  
      }
    },
    data: {
      labels: dates,
      datasets: [
        {
          data: bidenData,
          label: "Biden",
          fill: false,
          lineTension: 0.1,
          borderColor: "blue", // The main line color
          borderCapStyle: 'square',
          borderDash: [], // try [5, 15] for instance
          borderDashOffset: 0.0,
          borderJoinStyle: 'miter',
          pointHoverRadius: 8,
          pointHoverBackgroundColor: "blue",
          pointHoverBorderColor: "blue",
          pointHoverBorderWidth: 2,
          pointRadius: 0
        },
        {
          data: trumpData,
          label: "Trump",
          fill: false,
          lineTension: 0.1,
          borderColor: "red", // The main line color
          borderCapStyle: 'square',
          borderDash: [], // try [5, 15] for instance
          borderDashOffset: 0.0,
          borderJoinStyle: 'miter',
          pointHoverRadius: 8,
          pointHoverBackgroundColor: "red",
          pointHoverBorderColor: "red",
          pointHoverBorderWidth: 2,
          pointRadius: 0
        }
      ]
    }
  });
}

// Request data using D3
d3
  .csv("https://visualizedpoli.gitlab.io/us-model/history.csv")
  .then(makeEvChart);
  </script>
{% endblock %}

