{% extends "frlsim/usa-2020/base.html" %}

{% block title %}{{ state }}{% endblock %}

{% block content %}
	<h1 id="stateHeader">{{ state }}</h1>

<script>
  d3
  .csv("https://visualizedpoli.gitlab.io/us-model/electoralVotes.csv")
  .then(setTitle);

  function setTitle(dataSpreadsheet) {
var stateWithSpace = '{{ state }}'.replace(/_/g, ' ');

var filteredData = dataSpreadsheet.filter(function(d){ return d.State == stateWithSpace });

var electoralVotes = filteredData.map(function(d) {
    return d.EV;
  });

document.getElementById("stateHeader").innerHTML = stateWithSpace + " (" + electoralVotes + " electoral votes)";
  }

  
</script>

<h2>Vote Share</h2>
<p>Excluding third party and undecided voters.</p>

<canvas id="chart"></canvas>


<script>
function makeChart(dataSpreadsheet) {
  // players is an array of objects where each object is something like:
  // {
  //   "Name": "Steffi Graf",
  //   "Weeks": "377",
  //   "Gender": "Female"
  // }

  var stateWithSpace = '{{ state }}'.replace(/_/g, ' ');

  var filteredData = dataSpreadsheet.filter(function(d){ return d.State == stateWithSpace });

  var dates = filteredData.map(function(d) {
    return d.Date;
  });
  var trumpData = filteredData.map(function(d) {
    return d.Trump;
  });
  var bidenData = filteredData.map(function(d) {
    return d.Biden;
  });

  var chart = new Chart('chart', {
    type: "line",
    options: {
      maintainAspectRatio: true,
      legend: {
        display: true
      },
      title: {
        display: true,
        text: 'Projected Vote Share in ' + stateWithSpace
      },
      tooltips: {
        mode: 'index'
      }
    },
    data: {
      labels: dates,
      datasets: [
        {
          data: bidenData,
          label: "Biden",
          fill: false,
          lineTension: 0.1,
          borderColor: "blue", // The main line color
          borderCapStyle: 'square',
          borderDash: [], // try [5, 15] for instance
          borderDashOffset: 0.0,
          borderJoinStyle: 'miter',
          pointHoverRadius: 8,
          pointHoverBackgroundColor: "blue",
          pointHoverBorderColor: "blue",
          pointHoverBorderWidth: 2,
          pointRadius: 0
        },
        {
          data: trumpData,
          label: "Trump",
          fill: false,
          lineTension: 0.1,
          borderColor: "red", // The main line color
          borderCapStyle: 'square',
          borderDash: [], // try [5, 15] for instance
          borderDashOffset: 0.0,
          borderJoinStyle: 'miter',
          pointHoverRadius: 8,
          pointHoverBackgroundColor: "red",
          pointHoverBorderColor: "red",
          pointHoverBorderWidth: 2,
          pointRadius: 0
        }
      ]
    }
  });
}

// Request data using D3
d3
  .csv("https://visualizedpoli.gitlab.io/us-model/history.csv")
  .then(makeChart);
  </script>
{% endblock %}

