{% extends "frlsim/nz-2020/base.html" %}

{% block title %}{{ electorate }} | New Zealand 2020 Election Model{% endblock %}

{% block content %}
	<h1 id="electorateHeader">{{ electorate }}</h1>

<script>
  var electorateWithSpace = '{{ electorate }}'.replace(/_/g, ' ');

  document.getElementById("electorateHeader").innerHTML = electorateWithSpace;
</script>

<h2>Candidate Vote Projection</h2>

<canvas id="candidateVoteChart" style="display: block; height: 350px; width: 700px;" width="1050" height="525" class="chartjs-render-monitor"></canvas>

<h2>Party Vote Projection</h2>

<canvas id="partyVoteChart" style="display: block; height: 350px; width: 700px;" width="1050" height="525" class="chartjs-render-monitor"></canvas>

<h1>Electorate Fundamentals (Work in Progress)</h1>

<h2>Partisan Lean</h2>

<p id="partisanLean">Loading partisan lean...</p>

<h2>Similar Electorates</h2>

<p>Electorate similarity scores are based on the demographic characteristics (currently ethnicity, immigration status, religion, education, and income) of each electorate; if two electorates have a score of 100, it means they are perfectly identical. These scores are experimental and allow the model to infer what polling might say in unpolled electorates, given what it says in similar electorates.</p>

<div class="container">
  <div class="row">
    <div class="col" style="text-align: center;">
      <div class="hex-grid">
        <div class="north island">
          <ul class="even hex-row">
            <li>
              <a href="https://projects.visualizedpolitics.com/nz-2020/electorate/Northland"><div class="hexagon">Northland</div></a>
            </li>
            <li>
              <a href="https://projects.visualizedpolitics.com/nz-2020/electorate/Whangarei"><div class="hexagon">Whangarei</div></a>
            </li>
          </ul>
          <ul class="odd hex-row">
            <li>
              <a href="https://projects.visualizedpolitics.com/nz-2020/electorate/Whangaparaoa"><div class="hexagon">Whangaparāoa</div></a>
            </li>
          </ul>
          <ul class="even hex-row">
            <li>
              <a href="https://projects.visualizedpolitics.com/nz-2020/electorate/Kaipara_ki_Mahurangi"><div class="hexagon">Kaipara ki Mahurangi</div></a>
            </li>
            <li>
              <a href="https://projects.visualizedpolitics.com/nz-2020/electorate/East_Coast_Bays"><div class="hexagon">East Coast Bays</div></a>
            </li>
            <li>
              <a href="https://projects.visualizedpolitics.com/nz-2020/electorate/North_Shore"><div class="hexagon">North Shore</div></a>
            </li>
          </ul>
          <ul class="odd hex-row">
            <li>
              <a href="https://projects.visualizedpolitics.com/nz-2020/electorate/Upper_Harbour"><div class="hexagon">Upper Harbour</div></a>
            </li>
            <li>
              <a href="https://projects.visualizedpolitics.com/nz-2020/electorate/Northcote"><div class="hexagon">Northcote</div></a>
            </li>
          </ul>
          <ul class="even hex-row">
            <li>
              <a href="https://projects.visualizedpolitics.com/nz-2020/electorate/Te_Atatu"><div class="hexagon">Te Atatū</div></a>
            </li>
            <li>
              <a href="https://projects.visualizedpolitics.com/nz-2020/electorate/Auckland_Central"><div class="hexagon">Auckland Central</div></a>
            </li>
            <li>
              <a href="https://projects.visualizedpolitics.com/nz-2020/electorate/Tamaki"><div class="hexagon">Tāmaki</div></a>
            </li>
          </ul>
          <ul class="odd hex-row">
            <li>
              <a href="https://projects.visualizedpolitics.com/nz-2020/electorate/Mt_Albert"><div class="hexagon">Mt Albert</div></a>
            </li>
            <li>
              <a href="https://projects.visualizedpolitics.com/nz-2020/electorate/Epsom"><div class="hexagon">Epsom</div></a>
            </li>
            <li>
              <a href="https://projects.visualizedpolitics.com/nz-2020/electorate/Maungakiekie"><div class="hexagon">Maungakiekie</div></a>
            </li>
            <li>
              <a href="https://projects.visualizedpolitics.com/nz-2020/electorate/Pakuranga"><div class="hexagon">Pakuranga</div></a>
            </li>
          </ul>
          <ul class="even hex-row">
            <li>
              <a href="https://projects.visualizedpolitics.com/nz-2020/electorate/Kelston"><div class="hexagon">Kelston</div></a>
            </li>
            <li>
              <a href="https://projects.visualizedpolitics.com/nz-2020/electorate/Mt_Roskill"><div class="hexagon">Mt Roskill</div></a>
            </li>
            <li>
              <a href="https://projects.visualizedpolitics.com/nz-2020/electorate/Panmure-Otahuhu"><div class="hexagon">Panmure-Ōtāhuhu</div></a>
            </li>
            <li>
              <a href="https://projects.visualizedpolitics.com/nz-2020/electorate/Botany"><div class="hexagon">Botany</div></a>
            </li>
          </ul>
          <ul class="odd hex-row one">
            <li>
              <a href="https://projects.visualizedpolitics.com/nz-2020/electorate/New_Lynn"><div class="hexagon">New Lynn</div></a>
            </li>
            <li>
              <a href="https://projects.visualizedpolitics.com/nz-2020/electorate/Mangere"><div class="hexagon">Māngere</div></a>
            </li>
            <li>
              <a href="https://projects.visualizedpolitics.com/nz-2020/electorate/Manurewa"><div class="hexagon">Manurewa</div></a>
            </li>
          </ul>
          <ul class="even hex-row two">
            <li>
              <a href="https://projects.visualizedpolitics.com/nz-2020/electorate/Papakura"><div class="hexagon">Papakura</div></a>
            </li>
            <li>
              <a href="https://projects.visualizedpolitics.com/nz-2020/electorate/Port_Waikato"><div class="hexagon">Port Waikato</div></a>
            </li>
          </ul>
          <ul class="odd hex-row two">
            <li>
              <a href="https://projects.visualizedpolitics.com/nz-2020/electorate/Waikato"><div class="hexagon">Waikato</div></a>
            </li>
            <li>
              <a href="https://projects.visualizedpolitics.com/nz-2020/electorate/Coromandel"><div class="hexagon">Coromandel</div></a>
            </li>
          </ul>
          <ul class="even hex-row two">
            <li>
              <a href="https://projects.visualizedpolitics.com/nz-2020/electorate/Hamilton_West"><div class="hexagon">Hamilton West</div></a>
            </li>
            <li>
              <a href="https://projects.visualizedpolitics.com/nz-2020/electorate/Hamilton_East"><div class="hexagon">Hamilton East</div></a>
            </li>
            <li>
              <a href="https://projects.visualizedpolitics.com/nz-2020/electorate/Bay_of_Plenty"><div class="hexagon">Bay of Plenty</div></a>
            </li>
            <li>
              <a href="https://projects.visualizedpolitics.com/nz-2020/electorate/Tauranga"><div class="hexagon">Tauranga</div></a>
            </li>
          </ul>
          <ul class="odd hex-row two">
            <li>
              <a href="https://projects.visualizedpolitics.com/nz-2020/electorate/Taranaki-King_Country"><div class="hexagon">Taranaki-King Country</div></a>
            </li>
            <li>
              <a href="https://projects.visualizedpolitics.com/nz-2020/electorate/Taupo"><div class="hexagon">Taupō</div></a>
            </li>
            <li>
              <a href="https://projects.visualizedpolitics.com/nz-2020/electorate/East_Coast"><div class="hexagon">East Coast</div></a>
            </li>
          </ul>
          <ul class="even hex-row two">
            <li>
              <a href="https://projects.visualizedpolitics.com/nz-2020/electorate/New_Plymouth"><div class="hexagon">New Plymouth</div></a>
            </li>
            <li>
              <a href="https://projects.visualizedpolitics.com/nz-2020/electorate/Whanganui"><div class="hexagon">Whanganui</div></a>
            </li>
            <li>
              <a href="https://projects.visualizedpolitics.com/nz-2020/electorate/Rotorua"><div class="hexagon">Rotorua</div></a>
            </li>
          </ul>
          <ul class="odd hex-row two">
            <li>
              <a href="https://projects.visualizedpolitics.com/nz-2020/electorate/Rangitikei"><div class="hexagon">Rangitīkei</div></a>
            </li>
            <li>
              <a href="https://projects.visualizedpolitics.com/nz-2020/electorate/Napier"><div class="hexagon">Napier</div></a>
            </li>
          </ul>
          <ul class="even hex-row two">
            <li>
              <a href="https://projects.visualizedpolitics.com/nz-2020/electorate/Palmerston_North"><div class="hexagon">Palmerston North</div></a>
            </li>
            <li>
              <a href="https://projects.visualizedpolitics.com/nz-2020/electorate/Tukituki"><div class="hexagon">Tukituki</div></a>
            </li>
          </ul>
          <ul class="odd hex-row one">
            <li>
             <a href="https://projects.visualizedpolitics.com/nz-2020/electorate/Otaki"><div class="hexagon">Ōtaki</div></a>
            </li>
            <li>
              <a href="https://projects.visualizedpolitics.com/nz-2020/electorate/Wairarapa"><div class="hexagon">Wairarapa</div></a>
            </li>
          </ul>
          <ul class="even hex-row one">
            <li>
              <a href="https://projects.visualizedpolitics.com/nz-2020/electorate/Mana"><div class="hexagon">Mana</div></a>
            </li>
            <li>
              <a href="https://projects.visualizedpolitics.com/nz-2020/electorate/Remutaka"><div class="hexagon">Remutaka</div></a>
            </li>
          </ul>
          <ul class="odd hex-row">
            <li>
              <a href="https://projects.visualizedpolitics.com/nz-2020/electorate/Ohariu"><div class="hexagon">Ōhāriu</div></a>
            </li>
            <li>
              <a href="https://projects.visualizedpolitics.com/nz-2020/electorate/Hutt_South"><div class="hexagon">Hutt South</div></a>
            </li>
          </ul>
          <ul class="even hex-row">
            <li>
              <a href="https://projects.visualizedpolitics.com/nz-2020/electorate/Wellington_Central"><div class="hexagon">Wellington Central</div></a>
            </li>
            <li>
              <a href="https://projects.visualizedpolitics.com/nz-2020/electorate/Rongotai"><div class="hexagon">Rongotai</div></a>
            </li>
          </ul>
        </div>
        <div class="south island">
          <ul class="even hex-row four">
            <li>
              <a href="https://projects.visualizedpolitics.com/nz-2020/electorate/Nelson"><div class="hexagon">Nelson</div></a>
            </li>
            <li>
              <a href="https://projects.visualizedpolitics.com/nz-2020/electorate/Kaikoura"><div class="hexagon">Kaikōura</div></a>
            </li>
          </ul>
          <ul class="odd hex-row four">
            <li>
              <a href="https://projects.visualizedpolitics.com/nz-2020/electorate/Waimakariri"><div class="hexagon">Waimakariri</div></a>
            </li>
          </ul>
          <ul class="even hex-row three">
            <li>
              <a href="https://projects.visualizedpolitics.com/nz-2020/electorate/West_Coast-Tasman"><div class="hexagon">West Coast-Tasman</div></a>
            </li>
            <li>
              <a href="https://projects.visualizedpolitics.com/nz-2020/electorate/Selwyn"><div class="hexagon">Selwyn</div></a>
            </li>
            <li>
              <a href="https://projects.visualizedpolitics.com/nz-2020/electorate/Christchurch_East"><div class="hexagon">Christchurch East</div></a>
            </li>
          </ul>
          <ul class="odd hex-row three">
            <li>
              <a href="https://projects.visualizedpolitics.com/nz-2020/electorate/Ilam"><div class="hexagon">Ilam</div></a>
            </li>
            <li>
              <a href="https://projects.visualizedpolitics.com/nz-2020/electorate/Christchurch_Central"><div class="hexagon">Christchurch Central</div></a>
            </li>
          </ul>
          <ul class="even hex-row three">
            <li>
              <a href="https://projects.visualizedpolitics.com/nz-2020/electorate/Wigram"><div class="hexagon">Wigram</div></a>
            </li>
            <li>
              <a href="https://projects.visualizedpolitics.com/nz-2020/electorate/Banks_Peninsula"><div class="hexagon">Banks Peninsula</div></a>
            </li>
          </ul>
          <ul class="odd hex-row two">
            <li>
              <a href="https://projects.visualizedpolitics.com/nz-2020/electorate/Rangitata"><div class="hexagon">Rangitata</div></a>
            </li>
          </ul>
          <ul class="even hex-row two">
            <li>
              <a href="https://projects.visualizedpolitics.com/nz-2020/electorate/Waitaki"><div class="hexagon">Waitaki</div></a>
            </li>
          </ul>
          <ul class="odd hex-row one">
            <li>
              <a href="https://projects.visualizedpolitics.com/nz-2020/electorate/Taieri"><div class="hexagon">Taieri</div></a>
            </li>
            <li>
              <a href="https://projects.visualizedpolitics.com/nz-2020/electorate/Dunedin"><div class="hexagon">Dunedin</div></a>
            </li>
          </ul>
          <ul class="even hex-row one">
            <li>
              <a href="https://projects.visualizedpolitics.com/nz-2020/electorate/Southland"><div class="hexagon">Southland</div></a>
            </li>
          </ul>
          <ul class="odd hex-row">
            <li>
              <a href="https://projects.visualizedpolitics.com/nz-2020/electorate/Invercargill"><div class="hexagon">Invercargill</div></a>
            </li>
          </ul>
        </div>
        <div class="maori electorates">
          <ul class="even hex-row">
            <li>
              <a href="https://projects.visualizedpolitics.com/nz-2020/electorate/Te_Tai_Tokerau"><div class="hexagon">Te Tai Tokerau</div></a>
            </li>
          </ul>
          <ul class="odd hex-row">
            <li>
              <a href="https://projects.visualizedpolitics.com/nz-2020/electorate/Tamaki_Makaurau"><div class="hexagon">Tāmaki Makaurau</div></a>
            </li>
          </ul>
          <ul class="even hex-row one">
            <li>
              <a href="https://projects.visualizedpolitics.com/nz-2020/electorate/Hauraki-Waikato"><div class="hexagon">Hauraki-Waikato</div></a>
            </li>
            <li>
              <a href="https://projects.visualizedpolitics.com/nz-2020/electorate/Waiariki"><div class="hexagon">Waiariki</div></a>
            </li>
          </ul>
          <ul class="odd hex-row one">
            <li>
              <a href="https://projects.visualizedpolitics.com/nz-2020/electorate/Te_Tai_Hauauru"><div class="hexagon">Te Tai Hauāuru</div></a>
            </li>
            <li>
              <a href="https://projects.visualizedpolitics.com/nz-2020/electorate/Ikaroa-Rawhiti"><div class="hexagon">Ikaroa-Rāwhiti</div></a>
            </li>
          </ul>
          <ul class="even hex-row">
            <li></li>
          </ul>
          <ul class="odd hex-row one">
            <li>
              <a href="https://projects.visualizedpolitics.com/nz-2020/electorate/Te_Tai_Tonga"><div class="hexagon">Te Tai Tonga</div></a>
            </li>
          </ul>
          <h5>Māori Electorates</h5>
        </div>
      </div>
    </div>
  </div>
</div>

		<script src='https://cdn.rawgit.com/atomiks/tippyjs/3f478e3d/dist/tippy.min.js'></script>
		<script src='https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.min.js'></script>

{% raw %}
<script id="dropdown-template" type="text/x-handlebars-template">
  <div id="dropdown-{{id}}" class="dropdown">
  <h3>{{electorate}}</h3>
  <p>{{similarity}}</p>
  </div>
</script>
{% endraw %}

<script>
  function similarElectorate(dataSpreadsheet) {

  var electorateWithSpace = '{{ electorate }}'.replace(/_/g, ' ');

  var filteredData = dataSpreadsheet.filter(function(d){ return d.Electorate == electorateWithSpace });

  console.log(filteredData);

//var electorateData = filteredData.map(function(d) {
//    return d.Similarities;
//});
//  console.log(electorateData);

Array.prototype.forEach.call(
  document.querySelectorAll(".hexagon"),
  function(el, i) {
    var electorate = el.innerHTML;
	  //console.log(electorate);
    var electorateData = filteredData.map(function(d) {
        //console.log(d[electorate]);
        return d[electorate];
    });
    //console.log(electorateData);
    if (electorateData >= 100) {
      var partyCode = "similar100"; 
    } else if (electorateData >= 95) {
      var partyCode = "similar95";
    } else if (electorateData >= 90) {
       var partyCode = "similar90";       
    } else if (electorateData >= 85) {
      var partyCode = "similar85";        
    } else if (electorateData >= 80) {
       var partyCode = "similar80";       
    } else if (electorateData >= 75) {
       var partyCode = "similar75";       
    } else if (electorateData >= 70) {
        var partyCode = "similar70";      
    } else if (electorateData >= 65) {
       var partyCode = "similar65";       
    } else if (electorateData >= 60) {
       var partyCode = "similar60";       
    } else if (electorateData >= 55) {
       var partyCode = "similar55";       
    } else if (electorateData >= 50) {
       var partyCode = "similar50";       
    } else if (electorateData >= 45) {
       var partyCode = "similar45";       
    } else if (electorateData >= 40) {
       var partyCode = "similar40";       
    } else if (electorateData >= 35) {
       var partyCode = "similar35";       
    } else if (electorateData >= 30) {
      var partyCode = "similar30";        
    } else if (electorateData >= 25) {
       var partyCode = "similar25";       
    } else if (electorateData >= 20) {
       var partyCode = "similar20";       
    } else if (electorateData >= 15) {
      var partyCode = "similar15";        
    } else if (electorateData >= 10) {
       var partyCode = "similar10";       
    } else if (electorateData >= 5) {
      var partyCode = "similar5";        
    } else  {
       var partyCode = "similar0";       
    }
    
    el.setAttribute("title", electorate);
    el.setAttribute("data-id", i + 1);
    el.classList.add("colour-" + partyCode);
});

var tip = tippy(".hexagon", {
  position: "right",
  arrow: true,
  interactive: true,
  onShow: function() {
    var hexagon = document.querySelector("[aria-describedby=" + this.id + "]");

    var source = document.querySelector("#dropdown-template").innerText;
    var template = Handlebars.compile(source);
    var electorate = hexagon.innerText;

    var electorateData = filteredData.map(function(d) {
        return d[electorate];
    });
      
    var similarity = "Similarity: " + electorateData;
    
    hexagon.setAttribute(
      "title",
      template({
        id: hexagon.getAttribute("data-id"),
        electorate: hexagon.innerText,
		similarity: similarity
      })
    );
    tip.update(this);
  }
});
}
d3
  .csv("https://projects.visualizedpolitics.com/NZElectorateSimilarities.csv")
  .then(similarElectorate);
  </script>

  <script>
    function partisanLean(dataSpreadsheet) {
  var electorateWithSpace = '{{ electorate }}'.replace(/_/g, ' ');

  var filteredData = dataSpreadsheet.filter(function(d){ return d.Electorate == electorateWithSpace });

var lean = filteredData.map(function(d) {
    return d.Lean;
  });
  console.log(lean);
  document.getElementById("partisanLean").innerHTML = lean;
    }
    d3
  .csv("https://projects.visualizedpolitics.com/NZElectoratePartisanLean.csv")
  .then(partisanLean);
  
</script>

<script>
function makeVoteCharts(dataSpreadsheet) {
  // players is an array of objects where each object is something like:
  // {
  //   "Name": "Steffi Graf",
  //   "Weeks": "377",
  //   "Gender": "Female"
  // }

  var electorateWithSpace = '{{ electorate }}'.replace(/_/g, ' ');

  var filteredData = dataSpreadsheet.filter(function(d){ return d.Electorate == electorateWithSpace });

  var dates = filteredData.map(function(d) {
    return d.Date;
  });
  var nationalCandidate = filteredData.map(function(d) {
    return d.NationalCandidate;
  });
  var labourCandidate = filteredData.map(function(d) {
    return d.LabourCandidate;
  });
var nzfCandidate = filteredData.map(function(d) {
    return d.NZFCandidate;
  });
    var greenCandidate = filteredData.map(function(d) {
    return d.GreensCandidate;
  });
    var actCandidate = filteredData.map(function(d) {
    return d.ACTCandidate;
  });
    var maoriCandidate = filteredData.map(function(d) {
    return d.MaoriCandidate;
  });

var nationalParty = filteredData.map(function(d) {
    return d.NationalParty;
  });
  var labourParty = filteredData.map(function(d) {
    return d.LabourParty;
  });
var nzfParty = filteredData.map(function(d) {
    return d.NZFParty;
  });
    var greenParty = filteredData.map(function(d) {
    return d.GreensParty;
  });
    var actParty = filteredData.map(function(d) {
    return d.ACTParty;
  });
    var maoriParty = filteredData.map(function(d) {
    return d.MaoriParty;
  });

  var chart = new Chart('candidateVoteChart', {
    type: "line",
    options: {
      maintainAspectRatio: true,
      legend: {
        display: true,
        labels: {
            filter: function(item, chart) {
                if (item.text.includes('Poll') || item.text.includes('Threshold')) {
                    return false;
                } else {
                    return true;
                }
            }
        }
      },
      tooltips: {
        mode: 'index',
        filter: function(item, chart) {
                if (item.datasetIndex > 5) {
                    return false;
                } else {
                    return true;
                }
            
            }
      }
    },
    data: {
      labels: dates,
      datasets: [
        {
          data: nationalCandidate,
          label: "National",
          fill: false,
          lineTension: 0.1,
          borderColor: "#4285f4", // The main line color
          backgroundColor: "#4285f4",
          borderCapStyle: 'square',
          borderDash: [], // try [5, 15] for instance
          borderDashOffset: 0.0,
          borderJoinStyle: 'miter',
          pointHoverRadius: 8,
          pointHoverBackgroundColor: "#4285f4",
          pointHoverBorderColor: "#4285f4",
          pointHoverBorderWidth: 2,
          pointRadius: 0
        },
        {
          data: labourCandidate,
          label: "Labour",
          fill: false,
          lineTension: 0.1,
          borderColor: "red", // The main line color
            backgroundColor: "red",
          borderCapStyle: 'square',
          borderDash: [], // try [5, 15] for instance
          borderDashOffset: 0.0,
          borderJoinStyle: 'miter',
          pointHoverRadius: 8,
          pointHoverBackgroundColor: "red",
          pointHoverBorderColor: "red",
          pointHoverBorderWidth: 2,
          pointRadius: 0
        },
        {
          data: nzfCandidate,
          label: "New Zealand First",
          fill: false,
          lineTension: 0.1,
          borderColor: "#666666", // The main line color
            backgroundColor: "#666666",
          borderCapStyle: 'square',
          borderDash: [], // try [5, 15] for instance
          borderDashOffset: 0.0,
          borderJoinStyle: 'miter',
          pointHoverRadius: 8,
          pointHoverBackgroundColor: "#666666",
          pointHoverBorderColor: "#666666",
          pointHoverBorderWidth: 2,
          pointRadius: 0
        },
        {
          data: greenCandidate,
          label: "Greens",
          fill: false,
          lineTension: 0.1,
          borderColor: "#34a853", // The main line color
            backgroundColor: "#34a853",
          borderCapStyle: 'square',
          borderDash: [], // try [5, 15] for instance
          borderDashOffset: 0.0,
          borderJoinStyle: 'miter',
          pointHoverRadius: 8,
          pointHoverBackgroundColor: "#34a853",
          pointHoverBorderColor: "#34a853",
          pointHoverBorderWidth: 2,
          pointRadius: 0
        },
        {
          data: actCandidate,
          label: "ACT",
          fill: false,
          lineTension: 0.1,
          borderColor: "#ffd966", // The main line color
            backgroundColor: "#ffd966",
          borderCapStyle: 'square',
          borderDash: [], // try [5, 15] for instance
          borderDashOffset: 0.0,
          borderJoinStyle: 'miter',
          pointHoverRadius: 8,
          pointHoverBackgroundColor: "#ffd966",
          pointHoverBorderColor: "#ffd966",
          pointHoverBorderWidth: 2,
          pointRadius: 0
        },
        {
          data: maoriCandidate,
          label: "Māori",
          fill: false,
          lineTension: 0.1,
          borderColor: "#841100", // The main line color
            backgroundColor: "#841100",
          borderCapStyle: 'square',
          borderDash: [], // try [5, 15] for instance
          borderDashOffset: 0.0,
          borderJoinStyle: 'miter',
          pointHoverRadius: 8,
          pointHoverBackgroundColor: "#841100",
          pointHoverBorderColor: "#841100",
          pointHoverBorderWidth: 2,
          pointRadius: 0
        }
      ]
    }
  });

  var chart = new Chart('partyVoteChart', {
    type: "line",
    options: {
      maintainAspectRatio: true,
      legend: {
        display: true,
        labels: {
            filter: function(item, chart) {
                if (item.text.includes('Poll') || item.text.includes('Threshold')) {
                    return false;
                } else {
                    return true;
                }
            }
        }
      },
      tooltips: {
        mode: 'index',
        filter: function(item, chart) {
                if (item.datasetIndex > 5) {
                    return false;
                } else {
                    return true;
                }
            
            }
      }
    },
    data: {
      labels: dates,
      datasets: [
        {
          data: nationalParty,
          label: "National",
          fill: false,
          lineTension: 0.1,
          borderColor: "#4285f4", // The main line color
          backgroundColor: "#4285f4",
          borderCapStyle: 'square',
          borderDash: [], // try [5, 15] for instance
          borderDashOffset: 0.0,
          borderJoinStyle: 'miter',
          pointHoverRadius: 8,
          pointHoverBackgroundColor: "#4285f4",
          pointHoverBorderColor: "#4285f4",
          pointHoverBorderWidth: 2,
          pointRadius: 0
        },
        {
          data: labourParty,
          label: "Labour",
          fill: false,
          lineTension: 0.1,
          borderColor: "red", // The main line color
            backgroundColor: "red",
          borderCapStyle: 'square',
          borderDash: [], // try [5, 15] for instance
          borderDashOffset: 0.0,
          borderJoinStyle: 'miter',
          pointHoverRadius: 8,
          pointHoverBackgroundColor: "red",
          pointHoverBorderColor: "red",
          pointHoverBorderWidth: 2,
          pointRadius: 0
        },
        {
          data: nzfParty,
          label: "New Zealand First",
          fill: false,
          lineTension: 0.1,
          borderColor: "#666666", // The main line color
            backgroundColor: "#666666",
          borderCapStyle: 'square',
          borderDash: [], // try [5, 15] for instance
          borderDashOffset: 0.0,
          borderJoinStyle: 'miter',
          pointHoverRadius: 8,
          pointHoverBackgroundColor: "#666666",
          pointHoverBorderColor: "#666666",
          pointHoverBorderWidth: 2,
          pointRadius: 0
        },
        {
          data: greenParty,
          label: "Greens",
          fill: false,
          lineTension: 0.1,
          borderColor: "#34a853", // The main line color
            backgroundColor: "#34a853",
          borderCapStyle: 'square',
          borderDash: [], // try [5, 15] for instance
          borderDashOffset: 0.0,
          borderJoinStyle: 'miter',
          pointHoverRadius: 8,
          pointHoverBackgroundColor: "#34a853",
          pointHoverBorderColor: "#34a853",
          pointHoverBorderWidth: 2,
          pointRadius: 0
        },
        {
          data: actParty,
          label: "ACT",
          fill: false,
          lineTension: 0.1,
          borderColor: "#ffd966", // The main line color
            backgroundColor: "#ffd966",
          borderCapStyle: 'square',
          borderDash: [], // try [5, 15] for instance
          borderDashOffset: 0.0,
          borderJoinStyle: 'miter',
          pointHoverRadius: 8,
          pointHoverBackgroundColor: "#ffd966",
          pointHoverBorderColor: "#ffd966",
          pointHoverBorderWidth: 2,
          pointRadius: 0
        },
        {
          data: maoriParty,
          label: "Māori",
          fill: false,
          lineTension: 0.1,
          borderColor: "#841100", // The main line color
            backgroundColor: "#841100",
          borderCapStyle: 'square',
          borderDash: [], // try [5, 15] for instance
          borderDashOffset: 0.0,
          borderJoinStyle: 'miter',
          pointHoverRadius: 8,
          pointHoverBackgroundColor: "#841100",
          pointHoverBorderColor: "#841100",
          pointHoverBorderWidth: 2,
          pointRadius: 0
        }
      ]
    }
  });  
}

// Request data using D3
d3
  .csv("https://projects.visualizedpolitics.com/nzelectoratehistory.csv")
  .then(makeVoteCharts);
  </script>
{% endblock %}


