{% extends "frlsim/nz-2020/base.html" %}

{% block title %}New Zealand 2020 Election Model{% endblock %}

{% block content %}
<h1>New Zealand 2020 Election Model</h1>

<div class="flourish-embed" data-src="visualisation/3776498" data-url="https://flo.uri.sh/visualisation/3776498/embed" aria-label=""><script src="https://public.flourish.studio/resources/embed.js"></script></div>

<h2>How have the polls changed over time?</h2>
            
<p>Polling average is generated using a moving average, and adjusting polls for partisan biases in previous elections.</p>
<p>The threshold to enter parliament is 5%.</p>

<canvas id="voteChart" style="display: block; height: 350px; width: 700px;" width="1050" height="525" class="chartjs-render-monitor"></canvas>

<h4>Minor parties only</h4>

<canvas id="minorVoteChart" style="display: block; height: 350px; width: 700px;" width="1050" height="525" class="chartjs-render-monitor"></canvas>

<h2>How many people have voted early this election?</h2>

<div class="flourish-embed flourish-chart" data-src="visualisation/3967943" data-url="https://flo.uri.sh/visualisation/3967943/embed" aria-label=""><script src="https://public.flourish.studio/resources/embed.js"></script></div>

<h2>Who is likely to win each electorate?</h2>

<div class="container">
  <div class="row">
    <div class="col" style="text-align: center;">
      <div class="hex-grid">
        <div class="north island">
          <ul class="even hex-row">
            <li>
              <a href="electorate/Northland"><div class="hexagon">Northland</div></a>
            </li>
            <li>
              <a href="electorate/Whangarei"><div class="hexagon">Whangarei</div></a>
            </li>
          </ul>
          <ul class="odd hex-row">
            <li>
              <a href="electorate/Whangaparaoa"><div class="hexagon">Whangaparāoa</div></a>
            </li>
          </ul>
          <ul class="even hex-row">
            <li>
              <a href="electorate/Kaipara_ki_Mahurangi"><div class="hexagon">Kaipara ki Mahurangi</div></a>
            </li>
            <li>
              <a href="electorate/East_Coast_Bays"><div class="hexagon">East Coast Bays</div></a>
            </li>
            <li>
              <a href="electorate/North_Shore"><div class="hexagon">North Shore</div></a>
            </li>
          </ul>
          <ul class="odd hex-row">
            <li>
              <a href="electorate/Upper_Harbour"><div class="hexagon">Upper Harbour</div></a>
            </li>
            <li>
              <a href="electorate/Northcote"><div class="hexagon">Northcote</div></a>
            </li>
          </ul>
          <ul class="even hex-row">
            <li>
              <a href="electorate/Te_Atatu"><div class="hexagon">Te Atatū</div></a>
            </li>
            <li>
              <a href="electorate/Auckland_Central"><div class="hexagon">Auckland Central</div></a>
            </li>
            <li>
              <a href="electorate/Tamaki"><div class="hexagon">Tāmaki</div></a>
            </li>
          </ul>
          <ul class="odd hex-row">
            <li>
              <a href="electorate/Mt_Albert"><div class="hexagon">Mt Albert</div></a>
            </li>
            <li>
              <a href="electorate/Epsom"><div class="hexagon">Epsom</div></a>
            </li>
            <li>
              <a href="electorate/Maungakiekie"><div class="hexagon">Maungakiekie</div></a>
            </li>
            <li>
              <a href="electorate/Pakuranga"><div class="hexagon">Pakuranga</div></a>
            </li>
          </ul>
          <ul class="even hex-row">
            <li>
              <a href="electorate/Kelston"><div class="hexagon">Kelston</div></a>
            </li>
            <li>
              <a href="electorate/Mt_Roskill"><div class="hexagon">Mt Roskill</div></a>
            </li>
            <li>
              <a href="electorate/Panmure-Otahuhu"><div class="hexagon">Panmure-Ōtāhuhu</div></a>
            </li>
            <li>
              <a href="electorate/Botany"><div class="hexagon">Botany</div></a>
            </li>
          </ul>
          <ul class="odd hex-row one">
            <li>
              <a href="electorate/New_Lynn"><div class="hexagon">New Lynn</div></a>
            </li>
            <li>
              <a href="electorate/Mangere"><div class="hexagon">Māngere</div></a>
            </li>
            <li>
              <a href="electorate/Manurewa"><div class="hexagon">Manurewa</div></a>
            </li>
          </ul>
          <ul class="even hex-row two">
            <li>
              <a href="electorate/Papakura"><div class="hexagon">Papakura</div></a>
            </li>
            <li>
              <a href="electorate/Port_Waikato"><div class="hexagon">Port Waikato</div></a>
            </li>
          </ul>
          <ul class="odd hex-row two">
            <li>
              <a href="electorate/Waikato"><div class="hexagon">Waikato</div></a>
            </li>
            <li>
              <a href="electorate/Coromandel"><div class="hexagon">Coromandel</div></a>
            </li>
          </ul>
          <ul class="even hex-row two">
            <li>
              <a href="electorate/Hamilton_West"><div class="hexagon">Hamilton West</div></a>
            </li>
            <li>
              <a href="electorate/Hamilton_East"><div class="hexagon">Hamilton East</div></a>
            </li>
            <li>
              <a href="electorate/Bay_of_Plenty"><div class="hexagon">Bay of Plenty</div></a>
            </li>
            <li>
              <a href="electorate/Tauranga"><div class="hexagon">Tauranga</div></a>
            </li>
          </ul>
          <ul class="odd hex-row two">
            <li>
              <a href="electorate/Taranaki-King_Country"><div class="hexagon">Taranaki-King Country</div></a>
            </li>
            <li>
              <a href="electorate/Taupo"><div class="hexagon">Taupō</div></a>
            </li>
            <li>
              <a href="electorate/East_Coast"><div class="hexagon">East Coast</div></a>
            </li>
          </ul>
          <ul class="even hex-row two">
            <li>
              <a href="electorate/New_Plymouth"><div class="hexagon">New Plymouth</div></a>
            </li>
            <li>
              <a href="electorate/Whanganui"><div class="hexagon">Whanganui</div></a>
            </li>
            <li>
              <a href="electorate/Rotorua"><div class="hexagon">Rotorua</div></a>
            </li>
          </ul>
          <ul class="odd hex-row two">
            <li>
              <a href="electorate/Rangitikei"><div class="hexagon">Rangitīkei</div></a>
            </li>
            <li>
              <a href="electorate/Napier"><div class="hexagon">Napier</div></a>
            </li>
          </ul>
          <ul class="even hex-row two">
            <li>
              <a href="electorate/Palmerston_North"><div class="hexagon">Palmerston North</div></a>
            </li>
            <li>
              <a href="electorate/Tukituki"><div class="hexagon">Tukituki</div></a>
            </li>
          </ul>
          <ul class="odd hex-row one">
            <li>
             <a href="electorate/Otaki"><div class="hexagon">Ōtaki</div></a>
            </li>
            <li>
              <a href="electorate/Wairarapa"><div class="hexagon">Wairarapa</div></a>
            </li>
          </ul>
          <ul class="even hex-row one">
            <li>
              <a href="electorate/Mana"><div class="hexagon">Mana</div></a>
            </li>
            <li>
              <a href="electorate/Remutaka"><div class="hexagon">Remutaka</div></a>
            </li>
          </ul>
          <ul class="odd hex-row">
            <li>
              <a href="electorate/Ohariu"><div class="hexagon">Ōhāriu</div></a>
            </li>
            <li>
              <a href="electorate/Hutt_South"><div class="hexagon">Hutt South</div></a>
            </li>
          </ul>
          <ul class="even hex-row">
            <li>
              <a href="electorate/Wellington_Central"><div class="hexagon">Wellington Central</div></a>
            </li>
            <li>
              <a href="electorate/Rongotai"><div class="hexagon">Rongotai</div></a>
            </li>
          </ul>
        </div>
        <div class="south island">
          <ul class="even hex-row four">
            <li>
              <a href="electorate/Nelson"><div class="hexagon">Nelson</div></a>
            </li>
            <li>
              <a href="electorate/Kaikoura"><div class="hexagon">Kaikōura</div></a>
            </li>
          </ul>
          <ul class="odd hex-row four">
            <li>
              <a href="electorate/Waimakariri"><div class="hexagon">Waimakariri</div></a>
            </li>
          </ul>
          <ul class="even hex-row three">
            <li>
              <a href="electorate/West_Coast-Tasman"><div class="hexagon">West Coast-Tasman</div></a>
            </li>
            <li>
              <a href="electorate/Selwyn"><div class="hexagon">Selwyn</div></a>
            </li>
            <li>
              <a href="electorate/Christchurch_East"><div class="hexagon">Christchurch East</div></a>
            </li>
          </ul>
          <ul class="odd hex-row three">
            <li>
              <a href="electorate/Ilam"><div class="hexagon">Ilam</div></a>
            </li>
            <li>
              <a href="electorate/Christchurch_Central"><div class="hexagon">Christchurch Central</div></a>
            </li>
          </ul>
          <ul class="even hex-row three">
            <li>
              <a href="electorate/Wigram"><div class="hexagon">Wigram</div></a>
            </li>
            <li>
              <a href="electorate/Banks_Peninsula"><div class="hexagon">Banks Peninsula</div></a>
            </li>
          </ul>
          <ul class="odd hex-row two">
            <li>
              <a href="electorate/Rangitata"><div class="hexagon">Rangitata</div></a>
            </li>
          </ul>
          <ul class="even hex-row two">
            <li>
              <a href="electorate/Waitaki"><div class="hexagon">Waitaki</div></a>
            </li>
          </ul>
          <ul class="odd hex-row one">
            <li>
              <a href="electorate/Taieri"><div class="hexagon">Taieri</div></a>
            </li>
            <li>
              <a href="electorate/Dunedin"><div class="hexagon">Dunedin</div></a>
            </li>
          </ul>
          <ul class="even hex-row one">
            <li>
              <a href="electorate/Southland"><div class="hexagon">Southland</div></a>
            </li>
          </ul>
          <ul class="odd hex-row">
            <li>
              <a href="electorate/Invercargill"><div class="hexagon">Invercargill</div></a>
            </li>
          </ul>
        </div>
        <div class="maori electorates">
          <ul class="even hex-row">
            <li>
              <a href="electorate/Te_Tai_Tokerau"><div class="hexagon">Te Tai Tokerau</div></a>
            </li>
          </ul>
          <ul class="odd hex-row">
            <li>
              <a href="electorate/Tamaki_Makaurau"><div class="hexagon">Tāmaki Makaurau</div></a>
            </li>
          </ul>
          <ul class="even hex-row one">
            <li>
              <a href="electorate/Hauraki-Waikato"><div class="hexagon">Hauraki-Waikato</div></a>
            </li>
            <li>
              <a href="electorate/Waiariki"><div class="hexagon">Waiariki</div></a>
            </li>
          </ul>
          <ul class="odd hex-row one">
            <li>
              <a href="electorate/Te_Tai_Hauauru"><div class="hexagon">Te Tai Hauāuru</div></a>
            </li>
            <li>
              <a href="electorate/Ikaroa-Rawhiti"><div class="hexagon">Ikaroa-Rāwhiti</div></a>
            </li>
          </ul>
          <ul class="even hex-row">
            <li></li>
          </ul>
          <ul class="odd hex-row one">
            <li>
              <a href="electorate/Te_Tai_Tonga"><div class="hexagon">Te Tai Tonga</div></a>
            </li>
          </ul>
          <h5>Māori Electorates</h5>
        </div>
      </div>
    </div>
  </div>
</div>

		<script src='https://cdn.rawgit.com/atomiks/tippyjs/3f478e3d/dist/tippy.min.js'></script>
		<script src='https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.min.js'></script>
		<script src="https://projects.visualizedpolitics.com/nzscript.js"></script>

{% raw %}
<script id="dropdown-template" type="text/x-handlebars-template">
  <div id="dropdown-{{id}}" class="dropdown">
  <h3>{{electorate}}</h3>
  <p>{{status}}</p>
  </div>
</script>
{% endraw %}

<script>
function makeVoteChart(dataSpreadsheet) {

  var filteredData = dataSpreadsheet;//.filter(function(d){ return d.State == 'National' });

  var dates = filteredData.map(function(d) {
    return d.Date;
  });
  var nationalAverage = filteredData.map(function(d) {
    return d.National;
  });
  var labourAverage = filteredData.map(function(d) {
    return d.Labour;
  });
var nzfAverage = filteredData.map(function(d) {
    return d.NZF;
  });
    var greenAverage = filteredData.map(function(d) {
    return d.Green;
  });
    var actAverage = filteredData.map(function(d) {
    return d.ACT;
  });
    var thresholdLine = filteredData.map(function(d) {
    return d.Threshold;
  });
    var nationalPolls = filteredData.map(function(d) {
    return d.NationalPolls;
  });
    var labourPolls = filteredData.map(function(d) {
    return d.LabourPolls;
  });
  var nzfPolls = filteredData.map(function(d) {
    return d.NZFPolls;
  });
    var greenPolls = filteredData.map(function(d) {
    return d.GreenPolls;
  });
    var actPolls = filteredData.map(function(d) {
    return d.ACTPolls;
  });

  var chart = new Chart('voteChart', {
    type: "line",
    options: {
      maintainAspectRatio: true,
      legend: {
        display: true,
        labels: {
            filter: function(item, chart) {
                if (item.text.includes('Poll') || item.text.includes('Threshold')) {
                    return false;
                } else {
                    return true;
                }
            }
        }
      },
      tooltips: {
        mode: 'index',
        filter: function(item, chart) {
                if (item.datasetIndex === 0 || item.datasetIndex > 5) {
                    return false;
                } else {
                    return true;
                }
            
            }
      }
    },
    data: {
      labels: dates,
      datasets: [
          {
          data: thresholdLine,
          label: "Threshold",
          fill: false,
          lineTension: 0,
          borderColor: "#ff0000", // The main line color
          borderCapStyle: 'square',
          borderDash: [5, 10], // try [5, 15] for instance
          borderDashOffset: 0.0,
          borderJoinStyle: 'miter',
          pointHoverRadius: 0,
          pointHoverBackgroundColor: "#ff0000",
          pointHoverBorderColor: "#ff0000",
          pointHoverBorderWidth: 2,
          pointRadius: 0
        },
        {
          data: nationalAverage,
          label: "National",
          fill: false,
          lineTension: 0.1,
          borderColor: "#4285f4", // The main line color
          backgroundColor: "#4285f4",
          borderCapStyle: 'square',
          borderDash: [], // try [5, 15] for instance
          borderDashOffset: 0.0,
          borderJoinStyle: 'miter',
          pointHoverRadius: 8,
          pointHoverBackgroundColor: "#4285f4",
          pointHoverBorderColor: "#4285f4",
          pointHoverBorderWidth: 2,
          pointRadius: 0
        },
        {
          data: labourAverage,
          label: "Labour",
          fill: false,
          lineTension: 0.1,
          borderColor: "red", // The main line color
            backgroundColor: "red",
          borderCapStyle: 'square',
          borderDash: [], // try [5, 15] for instance
          borderDashOffset: 0.0,
          borderJoinStyle: 'miter',
          pointHoverRadius: 8,
          pointHoverBackgroundColor: "red",
          pointHoverBorderColor: "red",
          pointHoverBorderWidth: 2,
          pointRadius: 0
        },
        {
          data: nzfAverage,
          label: "New Zealand First",
          fill: false,
          lineTension: 0.1,
          borderColor: "#666666", // The main line color
            backgroundColor: "#666666",
          borderCapStyle: 'square',
          borderDash: [], // try [5, 15] for instance
          borderDashOffset: 0.0,
          borderJoinStyle: 'miter',
          pointHoverRadius: 8,
          pointHoverBackgroundColor: "#666666",
          pointHoverBorderColor: "#666666",
          pointHoverBorderWidth: 2,
          pointRadius: 0
        },
        {
          data: greenAverage,
          label: "Greens",
          fill: false,
          lineTension: 0.1,
          borderColor: "#34a853", // The main line color
            backgroundColor: "#34a853",
          borderCapStyle: 'square',
          borderDash: [], // try [5, 15] for instance
          borderDashOffset: 0.0,
          borderJoinStyle: 'miter',
          pointHoverRadius: 8,
          pointHoverBackgroundColor: "#34a853",
          pointHoverBorderColor: "#34a853",
          pointHoverBorderWidth: 2,
          pointRadius: 0
        },
        {
          data: actAverage,
          label: "ACT",
          fill: false,
          lineTension: 0.1,
          borderColor: "#ffd966", // The main line color
            backgroundColor: "#ffd966",
          borderCapStyle: 'square',
          borderDash: [], // try [5, 15] for instance
          borderDashOffset: 0.0,
          borderJoinStyle: 'miter',
          pointHoverRadius: 8,
          pointHoverBackgroundColor: "#ffd966",
          pointHoverBorderColor: "#ffd966",
          pointHoverBorderWidth: 2,
          pointRadius: 0
        },{
          data: nationalPolls,
          label: "NationalPoll",
          showLine: false,
          fill: false,
          lineTension: 0.1,
          borderColor: "#a3c6ff", // The main line color
          backgroundColor: "#a3c6ff",
          borderCapStyle: 'square',
          borderDash: [], // try [5, 15] for instance
          borderDashOffset: 0.0,
          borderJoinStyle: 'miter',
          pointHoverRadius: customRadius,
          pointHoverBackgroundColor: "#a3c6ff",
          pointHoverBorderColor: "#a3c6ff",
          pointHoverBorderWidth: 2,
          pointRadius: customRadius
        },
        {
          data: labourPolls,
          label: "LabourPoll",
          showLine: false,
          fill: false,
          lineTension: 0.1,
          borderColor: "#ffadad", // The main line color\
          backgroundColor: "#ffadad",
          borderCapStyle: 'square',
          borderDash: [], // try [5, 15] for instance
          borderDashOffset: 0.0,
          borderJoinStyle: 'miter',
          pointHoverRadius: customRadius,
          pointHoverBackgroundColor: "#ffadad",
          pointHoverBorderColor: "#ffadad",
          pointHoverBorderWidth: 2,
          pointRadius: customRadius
        },
        {
          data: nzfPolls,
          label: "NZFirstPoll",
          showLine: false,
          fill: false,
          lineTension: 0.1,
          borderColor: "#c7c7c7", // The main line color
          backgroundColor: "#c7c7c7",
          borderCapStyle: 'square',
          borderDash: [], // try [5, 15] for instance
          borderDashOffset: 0.0,
          borderJoinStyle: 'miter',
          pointHoverRadius: customRadius,
          pointHoverBackgroundColor: "#c7c7c7",
          pointHoverBorderColor: "#c7c7c7",
          pointHoverBorderWidth: 2,
          pointRadius: customRadius
        },
        {
          data: greenPolls,
          label: "GreenPoll",
          showLine: false,
          fill: false,
          lineTension: 0.1,
          borderColor: "#b8f5c8", // The main line color
          backgroundColor: "#b8f5c8",
          borderCapStyle: 'square',
          borderDash: [], // try [5, 15] for instance
          borderDashOffset: 0.0,
          borderJoinStyle: 'miter',
          pointHoverRadius: customRadius,
          pointHoverBackgroundColor: "#b8f5c8",
          pointHoverBorderColor: "#b8f5c8",
          pointHoverBorderWidth: 2,
          pointRadius: customRadius
        },
        {
          data: actPolls,
          label: "ACTPoll",
          showLine: false,
          fill: false,
          lineTension: 0.1,
          borderColor: "#fff5c4", // The main line color
          backgroundColor: "#fff5c4",
          borderCapStyle: 'square',
          borderDash: [], // try [5, 15] for instance
          borderDashOffset: 0.0,
          borderJoinStyle: 'miter',
          pointHoverRadius: customRadius,
          pointHoverBackgroundColor: "#fff5c4",
          pointHoverBorderColor: "#fff5c4",
          pointHoverBorderWidth: 2,
          pointRadius: customRadius
        }
      ]
    }
  });
    
    
      var minorChart = new Chart('minorVoteChart', {
    type: "line",
    options: {
      maintainAspectRatio: true,
      legend: {
        display: true,
        labels: {
            filter: function(item, chart) {
                if (item.text.includes('Poll') || item.text.includes('Threshold')) {
                    return false;
                } else {
                    return true;
                }
            }
        }
      },
      tooltips: {
        mode: 'index',
        filter: function(item, chart) {
                if (item.datasetIndex === 0 || item.datasetIndex > 3) {
                    return false;
                } else {
                    return true;
                }
            
            }
      }
    },
    data: {
      labels: dates,
      datasets: [
          {
          data: thresholdLine,
          label: "Threshold",
          fill: false,
          lineTension: 0,
          borderColor: "#ff0000", // The main line color
          borderCapStyle: 'square',
          borderDash: [5, 10], // try [5, 15] for instance
          borderDashOffset: 0.0,
          borderJoinStyle: 'miter',
          pointHoverRadius: 0,
          pointHoverBackgroundColor: "#ff0000",
          pointHoverBorderColor: "#ff0000",
          pointHoverBorderWidth: 2,
          pointRadius: 0
        },
        {
          data: nzfAverage,
          label: "New Zealand First",
          fill: false,
          lineTension: 0.1,
          borderColor: "#666666", // The main line color
            backgroundColor: "#666666",
          borderCapStyle: 'square',
          borderDash: [], // try [5, 15] for instance
          borderDashOffset: 0.0,
          borderJoinStyle: 'miter',
          pointHoverRadius: 8,
          pointHoverBackgroundColor: "#666666",
          pointHoverBorderColor: "#666666",
          pointHoverBorderWidth: 2,
          pointRadius: 0
        },
        {
          data: greenAverage,
          label: "Greens",
          fill: false,
          lineTension: 0.1,
          borderColor: "#34a853", // The main line color
            backgroundColor: "#34a853",
          borderCapStyle: 'square',
          borderDash: [], // try [5, 15] for instance
          borderDashOffset: 0.0,
          borderJoinStyle: 'miter',
          pointHoverRadius: 8,
          pointHoverBackgroundColor: "#34a853",
          pointHoverBorderColor: "#34a853",
          pointHoverBorderWidth: 2,
          pointRadius: 0
        },
        {
          data: actAverage,
          label: "ACT",
          fill: false,
          lineTension: 0.1,
          borderColor: "#ffd966", // The main line color
            backgroundColor: "#ffd966",
          borderCapStyle: 'square',
          borderDash: [], // try [5, 15] for instance
          borderDashOffset: 0.0,
          borderJoinStyle: 'miter',
          pointHoverRadius: 8,
          pointHoverBackgroundColor: "#ffd966",
          pointHoverBorderColor: "#ffd966",
          pointHoverBorderWidth: 2,
          pointRadius: 0
        },
        {
          data: nzfPolls,
          label: "NZFirstPoll",
          showLine: false,
          fill: false,
          lineTension: 0.1,
          borderColor: "#c7c7c7", // The main line color
          backgroundColor: "#c7c7c7",
          borderCapStyle: 'square',
          borderDash: [], // try [5, 15] for instance
          borderDashOffset: 0.0,
          borderJoinStyle: 'miter',
          pointHoverRadius: customRadius,
          pointHoverBackgroundColor: "#c7c7c7",
          pointHoverBorderColor: "#c7c7c7",
          pointHoverBorderWidth: 2,
          pointRadius: customRadius
        },
        {
          data: greenPolls,
          label: "GreenPoll",
          showLine: false,
          fill: false,
          lineTension: 0.1,
          borderColor: "#b8f5c8", // The main line color
          backgroundColor: "#b8f5c8",
          borderCapStyle: 'square',
          borderDash: [], // try [5, 15] for instance
          borderDashOffset: 0.0,
          borderJoinStyle: 'miter',
          pointHoverRadius: customRadius,
          pointHoverBackgroundColor: "#b8f5c8",
          pointHoverBorderColor: "#b8f5c8",
          pointHoverBorderWidth: 2,
          pointRadius: customRadius
        },
        {
          data: actPolls,
          label: "ACTPoll",
          showLine: false,
          fill: false,
          lineTension: 0.1,
          borderColor: "#fff5c4", // The main line color
          backgroundColor: "#fff5c4",
          borderCapStyle: 'square',
          borderDash: [], // try [5, 15] for instance
          borderDashOffset: 0.0,
          borderJoinStyle: 'miter',
          pointHoverRadius: customRadius,
          pointHoverBackgroundColor: "#fff5c4",
          pointHoverBorderColor: "#fff5c4",
          pointHoverBorderWidth: 2,
          pointRadius: customRadius
        }
      ]
    }
  });

  function customRadius(context) {
      let index = context.dataIndex;
      let value = context.dataset.data[index];
      if (value == 0 || value == null || value == "") {
        return 0;
      } else {
        return 3;
      }
  }

}

// Request data using D3
d3
  .csv("https://visualizedpoli.gitlab.io/us-model/nznationalpolls.csv")
  .then(makeVoteChart);

</script>

{% endblock %}
